<section id="about">
    <div class="container">
        <h2>About Me</h2>
        <p>A highly skilled Computer Science graduate with a Master's degree from Stevens Institute of Technology and a
            robust background in software development, cloud computing, and full-stack web development. Proficient in
            multiple programming languages and technologies, with hands-on experience in developing cloud-native
            solutions and implementing secure BPM features. Recognized for academic excellence and professional
            achievements, including winning hackathon awards and certifications in Java, Azure, and Pega.</p>
        <div class="timeline">
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>2020</h3>
                    <ol>
                        <li>
                            Graduated with a Bachelor's degree from IIIT Nuzvid and joined Infosys Ltd. as a Systems
                            Engineer.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>2021 & 2022</h3>
                    <ol>
                        <li>Worked as a Systems Engineer Trainee at Infosys Limited, focusing on Microsoft full stack
                            development.</li>
                        <br>
                        <li>Promoted to Systems Engineer at Infosys Limited, developed cloud-native solutions for
                            Booking.com.</li>
                        <br>
                        <li>Developed cloud-native solutions for Booking.com with 6 teams using Amazon DaaS.</li>
                        <br>
                        <li>Implemented secure BPM features boosting customer engagement by 30%.</li>
                        <br>
                        <li>Integrated 10+ data workflows with data design, decision rules, data modeling, SLAs, and
                            PRPC rules.</li>
                        <br>
                        <li>Executed over 50 patch releases following agile principles, focusing on CI/CD, using Jira
                            for project management.</li>
                    </ol>

                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>2023</h3>
                    <ol>
                        <li>Started Master's degree from Stevens Institute of Technology majoring in Computer Science.
                        </li>
                        <br>
                        <li>Worked as a Graduate Teaching Assistant at Stevens Institute of Technology</li>
                    </ol>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>2024</h3>
                    <ol>
                        <li>

                        </li>
                    </ol>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>2017</h3>
                    <p>Graduated with a Bachelor's degree in Computer Science from XYZ University.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>2018</h3>
                    <p>Started my Master's degree in Data Science at NJIT.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="timeline-content">
                    <h3>2019</h3>
                    <p>Worked as a data analyst intern at GHI Corp, focusing on big data projects.</p>
                </div>
            </div>


        </div>
    </div>
</section>